body {
    background-color: #444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  h1{
    color: white;
    font-size: 56px;
    font-family: 'alba';
    display: hidden;
  }


  /*animation triangle*/
  #container {
    width: 600px;
    margin: 360px auto 0 auto;
  }
  

  

  triangleCon {
    height: 600px;
  }
  
  .triangle {
    width: 0px;
    height: 0px;
    opacity: 0.75;
    margin: auto;
    position: relative;
    -webkit-animation: enlarge_1 2s infinite;
            animation: enlarge_1 2s infinite;
  }
  
  .triangle:nth-child(2) {
    -webkit-animation: enlarge_2 2s infinite;
            animation: enlarge_2 2s infinite;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  .triangle:nth-child(3) {
    -webkit-animation: enlarge_3 2s infinite;
            animation: enlarge_3 2s infinite;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .triangle:nth-child(4) {
    -webkit-animation: enlarge_4 2s infinite;
            animation: enlarge_4 2s infinite;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  .triangle:nth-child(5) {
    -webkit-animation: enlarge_5 2s infinite;
            animation: enlarge_5 2s infinite;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  
  @-webkit-keyframes enlarge_1 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #90cdf2;
      margin-top: 0px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #90cdf2;
      margin-top: -300px;
    }
  }
  
  @keyframes enlarge_1 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #90cdf2;
      margin-top: 0px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #90cdf2;
      margin-top: -300px;
    }
  }
  @-webkit-keyframes enlarge_2 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #d390f2;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #d390f2;
      margin-top: -300px;
    }
  }
  @keyframes enlarge_2 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #d390f2;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #d390f2;
      margin-top: -300px;
    }
  }
  @-webkit-keyframes enlarge_3 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #ea9071;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #ea9071;
      margin-top: -300px;
    }
  }
  @keyframes enlarge_3 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #ea9071;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #ea9071;
      margin-top: -300px;
    }
  }
  @-webkit-keyframes enlarge_4 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #f2c390;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #f2c390;
      margin-top: -300px;
    }
  }
  @keyframes enlarge_4 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #f2c390;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #f2c390;
      margin-top: -300px;
    }
  }
  @-webkit-keyframes enlarge_5 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #f5e983;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #f5e983;
      margin-top: -300px;
    }
  }
  @keyframes enlarge_5 {
    from {
      opcatiy: 1;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 4px solid #f5e983;
      margin-top: -4px;
    }
    to {
      opacity: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 300px solid #f5e983;
      margin-top: -300px;
    }
  }

  /*calculator*/